.sunrisebg {
    background-image: url('/sunrise.jpg');
}

.noonbg {
    background-image: url('/noon.jpg');
}

.sunsetbg {
    background-image: url('/sunset.jpg');
}

.nightbg {
    background-image: url('/night.jpg');
}

.midnightbg {
    background-image: url('/midnight.jpg');
}