.sunrisebg {
    background-image: url('/sunrise.jpg');
}

.radialbg {
    background: rgb(250, 177, 98);
    background: radial-gradient(circle, rgba(250, 177, 98, 1) 0%, rgba(204, 91, 38, 1) 98%);
}